body {
  margin: 0;
}

main,
section {
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.button {
  border-radius: 8px;
}
.button_dark {
  max-width: 90px;
  max-height: 38px;
  padding: 10px 18px;
  gap: 10px;
  border-radius: 8px;
  background-color: #2B6F3E;
  color: #FFFFFF;
}
.button_dark:hover {
  transition: all 0.4s;
  color: #2B6F3E;
  background-color: #FFFFFF;
}
.button_link {
  max-width: 125px;
  max-height: 38px;
  flex-direction: row;
  align-items: center;
  padding: 10px 18px;
  gap: 10px;
  border-radius: 8px;
  color: #FFFFFF;
  background: #2B6F3E;
}
.button_link:hover {
  transition: all 0.4s;
  color: #2B6F3E;
  background-color: #FFFFFF;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 10px;
}

@font-face {
  font-family: "readex";
  src: url("../fonts/ReadexPro-Regular.eot") format("embedded-opentype"), url("../fonts/ReadexPro-Regular.svg") format("svg"), url("../fonts/ReadexPro-Regular.woff") format("woff"), url("../fonts/ReadexPro-Regular.woff2") format("woff2"), url("../fonts/ReadexPro-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "readex";
  src: url("../fonts/ReadexPro-Medium.eot") format("embedded-opentype"), url("../fonts/ReadexPro-Medium.svg") format("svg"), url("../fonts/ReadexPro-Medium.woff") format("woff"), url("../fonts/ReadexPro-Medium.woff2") format("woff2"), url("../fonts/ReadexPro-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "readex";
  src: url("../fonts/ReadexPro-SemiBold.eot") format("embedded-opentype"), url("../fonts/ReadexPro-SemiBold.svg") format("svg"), url("../fonts/ReadexPro-SemiBold.woff") format("woff"), url("../fonts/ReadexPro-SemiBold.woff2") format("woff2"), url("../fonts/ReadexPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "pacifico";
  src: url("../fonts/Pacifico-Regular.eot") format("embedded-opentype"), url("../fonts/Pacifico-Regular.svg") format("svg"), url("../fonts/Pacifico-Regular.woff") format("woff"), url("../fonts/Pacifico-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
.header {
  padding: 32px 0;
}
.header__container {
  max-width: 1180px;
  display: flex;
}
.header__left {
  display: flex;
}

.logo {
  max-height: 32px;
  margin-left: auto;
  padding-left: 130px;
}
.logo svg {
  max-height: 32px;
}

.mobile-menu {
  display: none;
}

.main-menu {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 22px;
  padding-right: 130px;
}
.main-menu__link {
  padding: 0 32px;
  margin-left: 24px;
  color: #FFFFFF;
  text-decoration: none;
}

.hero {
  background-color: aquamarine;
  margin: 0 auto;
  padding: 290px 600px 480px;
}
.hero__text, .hero__slogan {
  font-family: "Readex Pro";
  margin: o auto;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}
.hero__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
}
.hero__slogan {
  font-weight: 400;
  font-size: 48px;
  line-height: 60px;
}

.presentacion {
  position: absolute;
  max-width: 923px;
  margin: 0 auto;
  padding: 100px 260px;
  margin: 50px;
}
.presentacion__about {
  display: flex;
  margin: 32px;
}
.presentacion__title, .presentacion__text {
  font-family: "Readex Pro";
  align-items: center;
}
.presentacion__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
}
.presentacion__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #959595;
}
.presentacion__img {
  position: absolute;
}
.presentacion__img_1 {
  max-width: 200px;
  top: 934px;
  left: 240px;
  border-radius: 10px;
}
.presentacion__img_2 {
  max-width: 200px;
  top: 900px;
  left: 470px;
  border-radius: 10px;
}

/*# sourceMappingURL=styles.css.map */
