@font-face {
  font-family: "readex";
  src: url("../fonts/ReadexPro-Regular.eot") format("embedded-opentype"), url("../fonts/ReadexPro-Regular.svg") format("svg"), url("../fonts/ReadexPro-Regular.woff") format("woff"), url("../fonts/ReadexPro-Regular.woff2") format("woff2"), url("../fonts/ReadexPro-Regular.ttf") format("truetype");
  font-weight: 400;
}
@font-face {
  font-family: "readex";
  src: url("../fonts/ReadexPro-Medium.eot") format("embedded-opentype"), url("../fonts/ReadexPro-Medium.svg") format("svg"), url("../fonts/ReadexPro-Medium.woff") format("woff"), url("../fonts/ReadexPro-Medium.woff2") format("woff2"), url("../fonts/ReadexPro-Medium.ttf") format("truetype");
  font-weight: 500;
}
@font-face {
  font-family: "readex";
  src: url("../fonts/ReadexPro-SemiBold.eot") format("embedded-opentype"), url("../fonts/ReadexPro-SemiBold.svg") format("svg"), url("../fonts/ReadexPro-SemiBold.woff") format("woff"), url("../fonts/ReadexPro-SemiBold.woff2") format("woff2"), url("../fonts/ReadexPro-SemiBold.ttf") format("truetype");
  font-weight: 600;
}
body {
  margin: 0;
  font-family: "readex";
  font-weight: 400;
  font-size: 32px;
}

main,
section {
  overflow-x: hidden;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style: none;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

.button {
  font-family: "readex";
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  border-radius: 8px;
  padding: 10px 18px;
}
@media screen and (max-width: 1024px) {
  .button {
    border-radius: 4px;
    padding: 5px 9px;
  }
}
.button_dark {
  background-color: #2B6F3E;
  color: #FFFFFF;
}
.button_dark:hover {
  transition: all 0.4s;
  color: #2B6F3E;
  background-color: #FFFFFF;
}
.button_link {
  color: #FFFFFF;
  background: #2B6F3E;
}
.button_link:hover {
  transition: all 0.4s;
  color: #2B6F3E;
  background-color: #FFFFFF;
}
.button_light {
  color: #2B6F3E;
  background: #FFFFFF;
}
.button_light:hover {
  transition: all 0.4s;
  color: #2B6F3E;
  background-color: #959595;
}

.link-anima {
  position: relative;
}
.link-anima::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 0;
  height: 2px;
  background-color: #FFFFFF;
  transition: width 0.4s;
}
@media (max-width: 1024px) {
  .link-anima::before {
    background-color: #202020;
  }
}
.link-anima:hover::before {
  width: 100%;
}

.social__twitter:hover svg path {
  transition: 0.4s all;
  fill: rgb(114, 162, 207);
}
.social__facebook:hover svg path {
  transition: 0.4s all;
  fill: rgb(78, 78, 189);
}
.social__instagram:hover svg path {
  transition: 0.4s all;
  fill: rgb(224, 53, 53);
}

.header {
  width: 100%;
  margin-top: 32px;
  position: absolute;
  top: 0;
  background: transparent;
}
.header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo:hover {
  transition: 0.7s;
  transform: rotateX(360deg);
}
.logo svg {
  max-height: 56px;
}

.mobile-menu {
  display: none;
  position: absolute;
  flex-direction: column;
  top: 40px;
  right: 30px;
  padding: 30px 30px;
  font-size: 18px;
  line-height: 22px;
  border-radius: 6px;
  background-color: #FFFFFF;
}
.mobile-menu a {
  margin: 0 auto;
  margin: 8px;
  color: #202020;
}

.burger {
  display: none;
  width: 30px;
  height: 30px;
  margin-left: 20px;
  background-image: url("../img/burger.svg");
  background-size: contain;
  background-repeat: no-repeat;
}
.burger:hover {
  background-image: url("../img/close.svg");
}
@media (max-width: 1024px) {
  .burger {
    display: block;
  }
}

.main-menu {
  display: flex;
  font-size: 18px;
  line-height: 22px;
  width: 100%;
  max-width: 430px;
  justify-content: space-between;
}
.main-menu__link {
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .main-menu {
    display: none;
  }
}

.hero {
  height: 100vh;
  background-image: url("../img/bg-img.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.hero__container {
  padding-top: 15%;
  text-align: center;
}
@media screen and (max-width: 1024px) {
  .hero__container {
    padding-top: 130px;
    flex-direction: column;
  }
}
.hero__text, .hero__title {
  color: #FFFFFF;
}
.hero__text {
  font-weight: 600;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 16px;
}
@media screen and (max-width: 1024px) {
  .hero__text {
    margin-bottom: 8px;
  }
}
.hero__title {
  font-size: 48px;
  line-height: 60px;
  margin-bottom: 32px;
}
@media screen and (max-width: 1024px) {
  .hero__title {
    margin-bottom: 16px;
  }
}

.social {
  margin-top: 32px;
}
@media screen and (max-width: 1024px) {
  .social {
    margin-top: 16px;
  }
}
.social__item {
  margin: 16px;
  margin-top: 32px;
}
@media screen and (max-width: 1024px) {
  .social__item {
    margin: 8px;
    margin-top: 16px;
  }
}

.presentation {
  position: relative;
  max-width: 923px;
  margin: 100px auto;
}
@media screen and (max-width: 1024px) {
  .presentation {
    min-width: 310px;
    margin: 25px auto;
    padding: 10px;
  }
}
.presentation__box {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 1024px) {
  .presentation__box {
    flex-direction: column;
    margin: 0 auto;
    justify-content: center;
  }
}
@media screen and (max-width: 1024px) {
  .presentation__img {
    margin: 0 auto;
    justify-content: center;
  }
}
.presentation__about {
  margin: 50px;
}
@media screen and (max-width: 1024px) {
  .presentation__about {
    margin: 25px;
  }
}
.presentation__title, .presentation__text {
  align-items: center;
}
.presentation__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 24px;
  color: #202020;
}
@media screen and (max-width: 1024px) {
  .presentation__title {
    margin-bottom: 12px;
  }
}
.presentation__text {
  font-size: 18px;
  line-height: 22px;
  color: #959595;
}

.discover {
  max-width: 930px;
  margin: 100px auto 0;
}
@media screen and (max-width: 1024px) {
  .discover {
    max-width: 315px;
    margin: 50px auto 0;
  }
}
.discover__box {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .discover__box {
    flex-direction: column;
    margin: 0 auto;
  }
}
.discover__img {
  margin: 16px;
}
.discover__img_1, .discover__img_3 {
  max-width: 274px;
}
.discover__img_2 {
  max-width: 316px;
}
.discover__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: #202020;
}
.discover__pakis {
  position: relative;
  max-width: 170px;
  padding-bottom: 30px;
  padding-left: 24px;
}
@media screen and (max-width: 1024px) {
  .discover__pakis {
    max-width: 85px;
    padding-bottom: 15px;
    padding-left: 12px;
  }
}
.discover__pakis_logo {
  position: absolute;
  font-weight: 600;
  bottom: 30px;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
  .discover__pakis_logo {
    bottom: 15px;
    font-size: 12px;
    line-height: 15px;
  }
}
.discover__pakis_text {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
  .discover__pakis_text {
    font-size: 8px;
    line-height: 10px;
  }
}
.discover__suluban {
  position: relative;
  max-width: 176px;
  padding-bottom: 30px;
  padding-left: 24px;
}
@media screen and (max-width: 1024px) {
  .discover__suluban {
    max-width: 88px;
    padding-bottom: 15px;
    padding-left: 12px;
  }
}
.discover__suluban_logo {
  position: absolute;
  font-weight: 600;
  bottom: 30px;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
  .discover__suluban_logo {
    bottom: 15px;
    font-size: 12px;
    line-height: 15px;
  }
}
.discover__suluban_text {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
  .discover__suluban_text {
    font-size: 8px;
    line-height: 10px;
  }
}
.discover__karimun {
  position: relative;
  max-width: 195px;
  padding-bottom: 30px;
  padding-left: 24px;
}
@media screen and (max-width: 1024px) {
  .discover__karimun {
    max-width: 95px;
    padding-bottom: 15px;
    padding-left: 12px;
  }
}
.discover__karimun_logo {
  position: absolute;
  font-weight: 600;
  bottom: 30px;
  font-size: 24px;
  line-height: 30px;
  color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
  .discover__karimun_logo {
    bottom: 15px;
    font-size: 12px;
    line-height: 15px;
  }
}
.discover__karimun_text {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
  .discover__karimun_text {
    font-size: 8px;
    line-height: 10px;
  }
}

.explore {
  max-width: 950px;
  margin: 100px auto 0;
}
@media screen and (max-width: 1024px) {
  .explore {
    max-width: 275px;
    margin: 50px auto 0;
  }
}
.explore__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  align-items: center;
  text-align: center;
  color: #202020;
}
.explore__box {
  display: flex;
}
@media screen and (max-width: 1024px) {
  .explore__box {
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
  }
}
.explore__img {
  margin: 16px;
  border-radius: 10px;
}
@media screen and (max-width: 1024px) {
  .explore__img {
    margin: 8px;
    border-radius: 5px;
  }
}
.explore__img_1, .explore__img_2, .explore__img_3 {
  max-width: 295px;
}
.explore__drini {
  position: relative;
  max-width: 256px;
  padding-bottom: 16px;
  padding-left: 20px;
}
@media screen and (max-width: 1024px) {
  .explore__drini {
    max-width: 130px;
    padding-bottom: 8px;
    padding-left: 10px;
  }
}
.explore__drini_logo, .explore__drini_text {
  font-weight: 500;
  margin: 16px 20px;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
  .explore__drini_logo, .explore__drini_text {
    margin: 8px 10px;
    border-radius: 5px;
  }
}
.explore__drini_logo {
  position: absolute;
  bottom: 30px;
  font-size: 24px;
  line-height: 30px;
  color: #202020;
}
@media screen and (max-width: 1024px) {
  .explore__drini_logo {
    bottom: 15px;
    font-size: 12px;
    line-height: 15px;
  }
}
.explore__drini_text {
  font-size: 16px;
  line-height: 20px;
  color: #959595;
}
@media screen and (max-width: 1024px) {
  .explore__drini_text {
    font-size: 8px;
    line-height: 10px;
  }
}
.explore__baron {
  position: relative;
  max-width: 256px;
  padding-bottom: 16px;
  padding-left: 20px;
}
@media screen and (max-width: 1024px) {
  .explore__baron {
    max-width: 145px;
    padding-bottom: 8px;
    padding-left: 10px;
  }
}
.explore__baron_logo, .explore__baron_text {
  font-weight: 500;
  margin: 16px 20px;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
  .explore__baron_logo, .explore__baron_text {
    margin: 8px 10px;
    border-radius: 5px;
  }
}
.explore__baron_logo {
  position: absolute;
  bottom: 30px;
  font-size: 24px;
  line-height: 30px;
  color: #202020;
}
@media screen and (max-width: 1024px) {
  .explore__baron_logo {
    bottom: 15px;
    font-size: 12px;
    line-height: 15px;
  }
}
.explore__baron_text {
  font-size: 16px;
  line-height: 20px;
  color: #959595;
}
@media screen and (max-width: 1024px) {
  .explore__baron_text {
    font-size: 8px;
    line-height: 10px;
  }
}
.explore__trisik {
  position: relative;
  max-width: 256px;
  padding-bottom: 16px;
  padding-left: 20px;
}
@media screen and (max-width: 1024px) {
  .explore__trisik {
    max-width: 145px;
    padding-bottom: 8px;
    padding-left: 10px;
  }
}
.explore__trisik_logo, .explore__trisik_text {
  font-weight: 500;
  margin: 16px 20px;
  align-items: center;
  text-align: center;
  border-radius: 10px;
  background-color: #FFFFFF;
}
@media screen and (max-width: 1024px) {
  .explore__trisik_logo, .explore__trisik_text {
    margin: 8px 10px;
    border-radius: 5px;
  }
}
.explore__trisik_logo {
  position: absolute;
  bottom: 30px;
  font-size: 24px;
  line-height: 30px;
  color: #202020;
}
@media screen and (max-width: 1024px) {
  .explore__trisik_logo {
    bottom: 15px;
    font-size: 12px;
    line-height: 15px;
  }
}
.explore__trisik_text {
  font-size: 16px;
  line-height: 20px;
  color: #959595;
}
@media screen and (max-width: 1024px) {
  .explore__trisik_text {
    font-size: 8px;
    line-height: 10px;
  }
}

.conclusion__container {
  margin: 100px 130px;
}
@media screen and (max-width: 1024px) {
  .conclusion__container {
    margin: 50px 60px;
  }
}
.conclusion__block {
  padding-bottom: 77px;
  border-radius: 16px;
  text-align: center;
  background: #2B6F3E;
}
.conclusion__title {
  font-weight: 600;
  padding-top: 85px;
  font-size: 32px;
  line-height: 40px;
  color: #FFFFFF;
}
.conclusion__text {
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
}

.footer {
  background: #2B6F3E;
}
.footer__container {
  padding: 32px 0;
}
.footer__text {
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
}

/*# sourceMappingURL=styles.css.map */
