@import "variables";

body {
  margin: 0;
}

main,
section {
 overflow-x: hidden;
}

a {
 text-decoration: none;
  }
  
ul {
 list-style: none;
  }

.container {
 max-width: 1180px;
 margin: 0 auto;
 padding: 0 10px;
}