@import "variables";

body {
  margin: 0;
}

main,
section {
 overflow-x: hidden;
}

a {
 text-decoration: none;
  }
  
ul {
 list-style: none;
  }

.container {
    max-width: 1180px;
    margin: 0 auto;
    //padding: 0 10px;
  }

.button {
  font-family: 'Readex Pro';
  font-weight: 600;
  font-size: 14px;
  line-height: 18px;
  align-items: center;
  border-radius: 8px;
  padding: 10px 18px;

  &_dark {
    padding: 10px 18px;
    background-color: $green-color;
    color: $wite-color;

    &:hover {
      transition: all .4s;
      color: $green-color;
      background-color: $wite-color;
    }
  }

  &_link {
    color: $wite-color;
    background: $green-color;

    &:hover {
      transition: all .4s;
      color: $green-color;
      background-color: $wite-color;
    }
  }

  &_light {

    color: $green-color;
    background: $wite-color;

    &:hover {
      transition: all .4s;
      color: $green-color;
      background-color: $gr-color;
  }
}
}


