//readex - regular 400
@font-face {
    font-family: 'readex';
    src: url('../fonts/ReadexPro-Regular.eot') format('embedded-opentype'),
         url('../fonts/ReadexPro-Regular.svg') format('svg'),
         url('../fonts/ReadexPro-Regular.woff') format('woff'),
         url('../fonts/ReadexPro-Regular.woff2') format('woff2'),
         url('../fonts/ReadexPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }

  //readex - medium 500
  @font-face {
     font-family: 'readex';
    src: url('../fonts/ReadexPro-Medium.eot') format('embedded-opentype'),
         url('../fonts/ReadexPro-Medium.svg') format('svg'),
         url('../fonts/ReadexPro-Medium.woff') format('woff'),
         url('../fonts/ReadexPro-Medium.woff2') format('woff2'),
         url('../fonts/ReadexPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
   }

   //readex - semiBolt 600
  @font-face {
     font-family: 'readex';
    src: url('../fonts/ReadexPro-SemiBold.eot') format('embedded-opentype'),
         url('../fonts/ReadexPro-SemiBold.svg') format('svg'),
         url('../fonts/ReadexPro-SemiBold.woff') format('woff'),
         url('../fonts/ReadexPro-SemiBold.woff2') format('woff2'),
         url('../fonts/ReadexPro-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
   }

   //pacifico - regular 400
   @font-face {
     font-family: 'pacifico';
    src: url('../fonts/Pacifico-Regular.eot') format('embedded-opentype'),
         url('../fonts/Pacifico-Regular.svg') format('svg'),
         url('../fonts/Pacifico-Regular.woff') format('woff'),
         url('../fonts/Pacifico-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
   }