@import "variables";
@import "fonts";
@import "common";


.header {
  position: sticky;
  top: 0;
  background: transparent;
  padding: 32px 0;
  
  &__container {
    max-width: 1180px;
    display: flex;
  }

  &__left {
    display: flex;
  }
}

.logo {
  max-height: 32px;
  margin-left: auto;
  padding-left: 130px;
  
  svg {
   max-height: 32px;
  }
}

.mobile-menu {
  display: none;
}

.main-menu {
  display: flex;
  align-items: flex-end;
  font-size: 18px;
  line-height: 22px;
  padding-right: 130px;

  &__link {
    padding: 0 32px;
    margin-left: 24px;
    color: $wite-color;
    text-decoration: none;
  }
}

//HERO

.hero {
  font-size: 32px;
  font-weight: 400;
  background-image: url("../img/header-bg.jpg");
  background-repeat: no-repeat;
  padding: 320px 0 420px;
  background-position: center 300px;
  
  &__container {
    display: block;
    justify-content: space-between;
    align-items: center;
    padding: 250px 320px 25px;
  }

  &__text,
  &__title {
    font-family: 'Readex Pro';
    margin: 0 auto;
    display: flex;
    align-items: center;
    text-align: center;
    color: $wite-color;
  }

  &__text {
    justify-content: center;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 16px;
  }

  &__title {
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
    margin-bottom: 32px;
  }

    &__icon {
      justify-content: center;
      //max-width: 160px;
      max-width: 32px;
      max-height: 32px;
      color: $wite-color;
    }
}


//PRESENTATION

.presentation {
  position: relative;
  margin: 0 auto;
  padding: 100px 256px;
  max-width: 923px;

&__box {
  display: flex;
}

&__img {
  max-width: 100%;
}

&__about {
  margin: 50px;
}

&__title,
&__text {
  font-family: 'Readex Pro';
  align-items: center;
}

&__title {
  font-weight: 500;
  font-size: 32px;
  line-height: 40px;
  color: $black-color;
  margin-bottom: 24px;
}

&__text {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: $gr-color;
  margin-bottom: 32px;
}
}

//DISCOVER

.discover {
  //position: relative;
  margin: 0 auto;
  max-width: 930px;
  padding: 100px 256px;

   &__box {
    display: flex;
  }

  &__img {
    max-width: 100%;
    margin: 32px;

    &_1 {
      max-width: 274px;
    }

    &_2 {
      max-width: 316px;
    }

    &_3 {
      max-width: 274px;
    }
  }

  &__title {
    font-family: 'Readex Pro';
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    align-items: center;
    text-align: center;
    color: $black-color;
  }

  &__pakis {
    position: relative;
    max-width: 170px;
    padding-bottom: 30px;
    padding-left: 24px;

    &_logo {
      position: absolute;
      bottom: 30px;
      font-family: 'Readex Pro';
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
      color: $wite-color;
    }

    &_text {
      font-family: 'Readex Pro';
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: $wite-color;
    }
  }

  &__suluban {
    position: relative;
    max-width: 176px;
    padding-bottom: 30px;
    padding-left: 24px;

    &_logo {
      font-family: 'Readex Pro';
      bottom: 30px;
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
      color: $wite-color;
    }

    &_text {
      font-family: 'Readex Pro';
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: $wite-color;
    }

  }

  &__karimun {
    position: relative;
    max-width: 195px;
    padding-bottom: 30px;
    padding-left: 24px;

    &_logo {
      position: absolute;
      bottom: 30px;
      font-family: 'Readex Pro';
      font-weight: 600;
      font-size: 24px;
      line-height: 30px;
      color: $wite-color;
    }

    &_text {
      font-family: 'Readex Pro';
      font-weight: 400;
      font-size: 16px;
      line-height: 20px;
      color: $wite-color;
    }
  }

}
