@import "common";
@import "variables";
@import "fonts";


.header {
  padding: 32px 0;
  

  &__container {
    max-width: 1180px;
    display: flex;
  }
  &__left {
    display: flex;
    //margin-left: auto;
  }
}

.logo {
  max-height: 32px;
  margin-left: auto;
  padding-left: 130px;
  
  svg {
   max-height: 32px;
  }
}

.mobile-menu {
  display: none;
}

.main-menu {
  display: flex;
  align-items: center;
  font-size: 18px;
  line-height: 22px;
  padding-right: 130px;

  &__link {
    padding: 0 32px;
    margin-left: 24px;
    color: $wite-color;
    text-decoration: none;
  }
}

//HERO

.hero {
  background-color: aquamarine;
  margin: 0 auto;
  padding: 290px 600px 480px;
  
  &__text,
  &__slogan {
    font-family: 'Readex Pro';
    margin: o auto;
    display: flex;
    align-items: center;
    text-align: center;
    color: $wite-color;
  }
  &__text {
    //padding: 290px 600px;
    font-weight: 600;
    font-size: 24px;
    line-height: 30px;
  }

  &__slogan {
    font-weight: 400;
    font-size: 48px;
    line-height: 60px;
  }

    

    // // &__icon {
    //   //max-width: 160px;
    //   max-width: 32px;
    //   max-height: 32px;
    //   color: $wite-color;
    // }
  //}
}

//PRESENTATION

.presentacion {
  position: absolute;
  max-width: 923px;
  margin: 0 auto;
  padding: 100px 260px;
  margin: 50px;


  &__about {
    display: flex;
    margin: 32px;
    
  }


  &__title,
  &__text {
    font-family: 'Readex Pro';
    align-items: center;
  }

  &__title {
    font-weight: 500;
    font-size: 32px;
    line-height: 40px;
    $black-color:#202020;
  }

  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: $gr-color;
  }

  &__img {
    position: absolute;

    &_1 {
      max-width: 200px;
      top: 934px;
      left: 240px;
      border-radius: 10px;
    }

    &_2 {
      max-width: 200px;
      top: 900px;
      left: 470px;
      border-radius: 10px;
    }

}
}
